<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Places</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/images/icon.png">
</head>
<body>
    <!-- Header Section -->
    <header>
        <img src="../static/images/logo.png" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/login" id="login-link">Login</a></li>
                
            </ul>
        </nav>
    </header>

    <!-- Main Section -->
    <main>
        <!-- Filter Section -->
        <section id="filter">
            <label for="price-filter">Max Price:</label>
            <select id="price-filter">
                <option value="">Select Price</option>
                <option value="10">10€</option>
                <option value="50">50€</option>
                <option value="100">100€</option>
                <option value="All">All</option>
            </select>
        </section>

        <!-- Places List Section -->
        <section id="places-list">
            <!-- Example Place Card -->
            <article class="place-card">
                <h2>Cabane des bois</h2>
                <p>Price per night: 149€</p>
                <a href="place.html" class="details-button">View Details</a>
                <img src="../static/images/cabane_des_bois.jpg" alt="${place.name}" class="place-image">
            </article>

            <!-- Duplicate the structure for more places -->
            <article class="place-card" id="caravane">
                <h2>La Caravane du cousin tkt</h2>
                <p>Price per night: 249€</p>
                <a href="caravane.html" class="details-button">View Details</a>
                <img src="../static/images/caravane.jpg" alt="Caravane vue extérieure">
            </article>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 All rights reserved by Néia, Guney, Xavier</p>
    </footer>
    <!-- Lien vers le fichier JavaScript -->
    <script src="/static/js/scripts.js" defer></script>
</body>
</html>
