<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - HBnB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
            </ul>
        </nav>
    </header>

    <main class="login-container">
        <section class="login-form">
            <h2>Login</h2>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-error">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <form id="login-form" method="POST">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>
            
            <div class="forgot-password">
                <a href="{{ url_for('main.index') }}">Forgot your password?</a>
            </div>
            <div class="register-prompt">
                Pas encore de compte ? <a href="/register">Inscrivez-vous</a>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 All rights reserved by Néia, Guney, Xavier</p>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
