Flask==3.0.0         # Flask is a micro-framework for web application development
Flask-RESTx==1.3.0   # Flask-RESTx is an extension for Flask that simplifies creating RESTful APIs
Flask-Bcrypt==3.2.0        # Used for password hashing and security